@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/* Print styling */

@media print {
  #info {
    display: none !important;
  }
  #wrapper {
    padding: 0px;
  }
}

@page { size:8.5in 11in; margin: 0.25cm }

/* General */

body, html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'PT Sans', sans-serif;
}

a {
  color: #ff851b;
  text-decoration: none;
}

code {
  background-color: rgba(0,0,0,0.075);
}

#wrapper {
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 20px;
}

/* Header */

#header p a {
  text-decoration: none;
  color: #aaa;
}

#title a {
  color: #000;
}

#title:after {
  content: 'heet';
  padding-left: 2px;
  color: #ff851b;
  font-weight: bold;
}

/* Columns */

.column {
  float: left;
}

.column1of1 {
  display: block;
  width: 100%;
}

.column1of2 {
  display: block;
  width: 50%;
}

.column1of3 {
  display: block;
  width: 33%;
}

.column1of4 {
  display: block;
  width: 25%;
}

/* Command sections */

#commands .section {
  border-bottom: 2px solid #ff8419;
  margin: 20px;
}

#commands .handle {
  cursor: -webkit-grab;
}

#commands .section .header {
  color: white;
  background-color: #ff8419;
}

.section h1,
.section h2,
.section h3,
.section h4,
.section h5,
.section h6 {
  color: #ffffff;
  margin: 0;
  background: #ff8419;
  font-size: 1em;
  padding: 2px 6px;
}

.section h1 a,
.section h2 a,
.section h3 a,
.section h4 a,
.section h5 a,
.section h6 a {
  color: #ffffff;
}

.section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.section ul li {
  padding: 2px 6px;
  margin: 0 0 0 8px;
  border-left: 2px solid #ff8419;
}

li:nth-child(odd) {
    background: #fff9f4;
}

.section p {
  padding: 2px 6px;
  margin: 0;
}

.section .alternate {
  background: #fff1e5;
}

/* Info panel */

#info {
  background: rgba(0,0,0,0.9);
  position: fixed;
  float:right;
  top: 0px;
  right: 0px;
  width: 300px;
  height: 470px;
  box-shadow: -2px 2px 8px rgba(0,0,0,0.45);
  border-radius: 0px 0px 0px 10px;
  padding: 10px;
  font-size: 0.85em;
  color: #fff;
}

#info h1, #info h1 a, #info h2, #info h3 {
  color: #fff;
  font-size: 1.1em;
}

#info #gist-url a {
  font-size: 0.9em;
}

#info #gist-url a:hover {
  color: #ffffff;
}

#info #toc {
  max-height: 200px;
  overflow-y: scroll;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 5px;
}

#info #toc a {
  display: block;
  font-size: 0.85em;
  margin-left: 10px;
  text-decoration: none;
  color: #ff851b;
}

#info #toc a:hover {
  color: #ffffff;
}

#info #hide {
  position: absolute;
  text-align: right;
  bottom: 20px;
  right: 20px;
  color: #ff851b;
}

#info #hide:hover {
  color: #ffffff;
  cursor: pointer;
}

#info #hide:hover .key {
  background-color: #ffffff;
}

#info #hide .key {
  background-color: #ff851b;
  border-radius: 50%;
  padding: 0px 7px;
  color: #000;
  font-weight: bold;
}

/* Special markdown for kdb */
kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
}

/* Scrollbar styling */

::-webkit-scrollbar {
    background: rgba(255, 133, 27, 0.2);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 133, 27, 0.5);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 133, 27, 1);
}
