@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/* General */

body, html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Inconsolata', monospace;
}

a {
  color: #ff851b;
  text-decoration: none;
}

code {
  width: 100%;
}

pre {
  margin: 5px;
}

pre.hljs {
    background: rgba(255,255,255,0.45);
}

#wrapper {
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 20px;
}

/* Header */

#header p a {
  color: #aaa;
}

#header {
  margin: 0px 20px;
}

#title a {
  color: #000;
}

.sheet:after {
  content: 'heet';
  padding-left: 2px;
  color: #ff851b;
  font-weight: bold;
}

/* Command sections */

#commands .section {
  background-color: #ff8419;
  margin: 20px;
  padding: 0;
}

#commands .section .heading {
  color: white;
}

.section .handle {
  cursor: -webkit-grab;
}

.toggle {
  background-color: rgba(255,255,255,0.25);
  color: white;
  border-radius: 50%;
  cursor: pointer;
  padding: 0px 4px;
  font-size: 0.9em;
  float: right;
  margin-right: 4px;
}

.toggle:hover {
  background-color: rgba(255,255,255,0.5);
}

.section h1,
.section h2,
.section h3,
.section h4,
.section h5,
.section h6 {
  margin: 0;
  font-size: 1em;
  padding: 2px 6px;
}

.section a.handle {
  color: #ffffff;
}

.section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.section ul li {
  padding: 2px 6px;
  border-left: 2px solid rgba(0,0,0,0.25);
  margin: 0px 6px;
}

.section li:nth-child(odd) {
  background-color: rgba(255,255,255,0.15);
}

.section tr:nth-child(odd) {
  background-color: rgba(255,255,255,0.25);
}

.section table {
  width: 100%;
}

.section th {
    background-color: rgba(255,255,255,0.45);
    text-align: left;
}

.section p {
  padding: 2px 6px;
  margin: 0;
}

.section .content {
  background: rgba(255,255,255,0.75);
}

.section .alternate {
  background: rgba(255,255,255,0.75);
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

/* Info panel */

#info {
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.9);
  position: fixed;
  float:right;
  top: 0px;
  right: 0px;
  width: 300px;
  height: 470px;
  box-shadow: -2px 2px 8px rgba(0,0,0,0.45);
  border-radius: 0px 0px 0px 10px;
  padding: 10px;
  font-size: 0.85em;
  color: #fff;
}

#info h1, #info h1 a, #info h2, #info h3 {
  color: #fff;
  font-size: 1.1em;
}

#info #gist-url a {
  font-size: 0.9em;
}

#info #gist-url a:hover {
  color: #ffffff;
}

#info #toc {
  max-height: 200px;
  overflow-y: scroll;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
}

#info #toc a {
  display: block;
  font-size: 0.85em;
  margin-left: 10px;
  color: #ff851b;
}

#info #toc a:hover {
  color: #ffffff;
}

#toc .hidden {
  text-decoration: line-through;
  opacity: 0.5;
}

#info #hide {
  position: absolute;
  text-align: right;
  bottom: 20px;
  right: 20px;
  color: #ff851b;
}

#info #hide:hover {
  color: #ffffff;
  cursor: pointer;
}

#info #hide:hover .key {
  background-color: #ffffff;
}

#info #hide .key {
  background-color: #ff851b;
  border-radius: 50%;
  padding: 0px 7px;
  color: #000;
  font-weight: bold;
}

/* Columns */

.column {
  display: block;
  float: left;
}

.column1of1 {
  width: 100%;
}

.column1of2 {
  width: 50%;
}

.column1of3 {
  width: 33%;
}

.column1of4 {
  width: 25%;
}


/* Scrollbar styling */

::-webkit-scrollbar {
  background: rgb(255, 133, 27);
  background: rgba(255, 133, 27, 0.2);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(255, 133, 27);
  background-color: rgba(255, 133, 27, 0.5);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 133, 27);
}

/* Print styling */

@media print {
  #wrapper {
    padding: 0px;
  }
  #info {
    display: none;
  }
  .section .toggle {
    display: none;
  }
}

@page { size:8.5in 11in; margin: 0.25cm }
